<!DOCTYPE html>
<html lang="en" class="gr__v4-alpha_getbootstrap_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Database Project</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/custom.css"/>

</head>

<body data-gr-c-s-loaded="true">

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/search/">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predefined/">Predefined Queries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insert/">Insert / Delete</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Database Project</h3>
    </div>

    <div>
        <form method="GET">

            <div class="row">
                <div class="col-md-5">
                    {% if query != None %}
                        <input type="text" class="form-control" id="inputText" name="query"
                               placeholder="Type here to search.." value="{{ query }}">
                    {% else %}
                        <input type="text" class="form-control" id="inputText" name="query"
                               placeholder="Type here to search..">
                    {% endif %}
                </div>

                <div class="col-md-5">
                    <input type="submit" value="Search" class="btn btn-primary">
                    <input value="Advanced Options" class="btn btn-default btn-xs" id="btn-advanced">
                </div>
            </div>

            <div class="row advanced" style="padding-top: 10px; ">

                <label class="custom-control custom-checkbox">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Clips</label>
                    </div>
                </label>
                <label class="custom-control custom-checkbox">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Language</label>
                    </div>
                </label>

                <label class="custom-control custom-checkbox">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Country</label>
                    </div>
                </label>

                <label class="custom-control custom-checkbox">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Person</label>
                    </div>
                </label>

                <label class="custom-control custom-checkbox">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">Actor</label>
                    </div>
                </label>

            </div>
        </form>

        <div class="advanced">

        </div>

    </div>
    <br/>
    {% if tables and query %}
        <h2>Found results: </h2>
        <div>
            {% for table in tables %}
                <a href="show/{{ table }}/?query={{ query }}">
                    <h4>
                        <span>{{ table }}</span> <br/>
                    </h4></a>
            {% endfor %}
        </div>
    {% endif %}
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="/static/jquery-3.3.1.min.js"></script>
<script type="application/javascript">
    $(function () {
        $(".advanced").hide();
        $("#btn-advanced").click(function () {
            $(".advanced").toggle();
        });
    });
</script>
</body>
</html>